.status-panel {
    margin-bottom: 24px;
    font-size: 14px;

    label {
        margin-bottom: 4px;
    }

    input {
        width: 100%;
        background-color: #f0f0f0;
        border-color: #f0f0f0;
    }
}